files
	"./config/config.json":
	        mode: "000775"
            owner: root
            group: users
            authentication: "S3Auth"
            source: https://s3.ca-central-1.amazonaws.com/rbc-almond-admin-files/config.json

	"./config/users.json"
			mode: "000775"
			owner: root
			group: users
			authentication: "S3Auth"
			source: https://s3.ca-central-1.amazonaws.com/rbc-almond-dev-files/users.json